.list_mobile {
  padding: 20px;

  > div {
    min-height: 220px;
    flex: 0 0 calc(50% - 10px);
    margin-bottom: 20px;

    &:nth-child(2n) {
      margin-left: 10px;
    }

    &:nth-child(2n-1) {
      margin-right: 10px;
    }
  }

  .card {
    border-radius: 10px !important;
    height: 100%;

    .card_body {
      @media (max-width: 374px) {
        padding: 0.5rem;
      }
    }
  }

  .addItem {

    .disabled {
      opacity: .6 !important;
    }
    
    .card_body {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .item--content {
      svg {
        width: 40px;
        height: 40px;
        color: #FFB94A;
        @media (min-width: 375px) {
          width: 50px;
          height: 50px;
        }
      }

      p {
        margin-top: 20px;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }

  .item {
    .card_body {
      padding-top: 10px;
      padding-bottom: 15px;
    }

    .card--header {
      text-align: right;
      padding: 0px;
      line-height: 1;
    }

    .card--content {
      margin-top: 10px;
      text-align: center;
      margin-bottom: 23px;

      .avatar {
        width: 60px;
        height: 60px;
        position: relative;
        margin: 0px auto;

        .picture {
          width: 60px;
          height: 60px;
          border-radius: 100%;
        }

        .status {
          position: absolute;
          bottom: 0px;
          right: 0px;
          width: 16px;
          height: 16px;
          border-radius: 100%;
          background-color: #ffb94a;
        }
        .active {
          background-color: #43D627;
        }
        .disabled {
          background-color: #ccc;
        }
      }

      svg {
        width: 15px;
        height: 15px;
      }

      .name {
        font-size: 14px;
        margin: .75rem 0 .5rem 0;
      }
      .btn {
        &:focus, &:active, &:focus, &:visited {
          box-shadow: none;
          outline: 0;
        }
      }
      .btn--connect {
        margin-top: 1rem;
        border-radius: 10px;
        font-size: 12px;
        padding: .25rem .75rem;
      }
      .btn--update {
        margin-top: 1rem;
        border-radius: 10px;
        font-size: 12px;
        padding: .25rem .75rem;
        border: 1px solid #ffb94a;
        color: #ffb94a;
      }
      .btn--disconnect {
        margin-top: 0;
        border-radius: 10px;
        font-size: 12px;
        padding: 5px 15px;
      }

    }

    .card--footer {
      margin-bottom: 0px;

      p {
        margin-bottom: 0px;
        font-size: 12px;
      }

      .left {
        float: left
      }

      .right {
        float: right;
      }

    }
  }
}
.popup--mobile {
  width: 100%;
  height: 100%;
  background-color: rgba(153, 153, 153, .4);
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;

  .popup--mobile-wrap {
    width: 100%;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    .popup-mobile-content{
      width: 90%;
      border-radius: 10px;
    }
    .popup--mobile-top {
      margin-top: -10px;
      svg {
        width: 100%;
      }
    }
    .popup--mobile-main {
      h3 {
        color: #444444;
        font-size: 20px;
        font-weight: 600;
      }
      p {
        color: #999999;
      }
      textarea {
        min-height: 150px;
        max-height: 150px;
        background: #f7f7f7;
        border-radius: 10px;
        padding: .75rem 1rem !important;

        &:focus {
          outline: 0;
          box-shadow: none;
        }
      }
    }
    .popup--mobile-bot {
      padding-bottom: 1.25rem;
      .btn-add {
        padding: .5rem 1rem;
        border-radius: 10px;
        background: #ffb94a;
        border-color: #ffb94a;

        &:hover {
          background: #ff9e4a;
          border-color: #ff9e4a;
          box-shadow: none;
        }

        &:focus {
          background: #ff9e4a;
          border-color: #ff9e4a;
          box-shadow: none;
        }
      }
    }
  }
}
/*Transition popup*/
.popup-enter {
  transform: translateY(100%);
}
.popup-enter-to {
  transition: transform 0.75s;
  transform: translateY(0);
}
.popup-leave-to {
  transition: transform 0.75s;
  transform: translateY(100%);
}
//Theme Popup
//Light
.popup--mobile[data-theme="light"] {
  .popup-mobile-content {
    background: #ffffff;
  }
  .popup--mobile-wrap {
    .popup--mobile-main {
      h3{
        color: #000000;
      }
      p {
        color: #999999;
      }
      textarea {
        color: #444;
        background: #f7f7f7;
        border: none;

        &::placeholder {
          color: #ccc;
        }
      }
    }
    .popup--mobile-top {
      button {
        color: #ffffff;
      }
    }
  }
}
//Dark
.popup--mobile[data-theme="dark"] {
  .popup-mobile-content {
    background: #27292D;
  }
  .popup--mobile-wrap {
    .popup--mobile-main {
      h3{
        color: #ffffff;
      }
      p {
        color: #999999;
      }
      textarea {
        color: #f7f7f7;
        background: #2F3136;
        border: none;
        &::placeholder {
          color: #666;
        }
      }
    }
    .popup--mobile-top {
      button {
        color: #ffffff;
      }
    }
  }
}
//Light
.main[data-theme="light"] {
  .addItem {
    svg {
      fill: #FFB94A;
    }

    p {
      color: #FFB94A;
    }
  }

  .card {
    background: #fff;
    .card--content {
      .avatar {
        .status {
          border: 2px solid #ffffff;
        }
      }
    }
  }

  .item--content {
    p {
      color: #FFB94A;
    }
  }

  .item {
    .name {
      color: #000;
    }

    .btn--connect {
      color: #43D627;
      border: 1px solid #43D627;
    }
    .btn--update {
      color: #FFB94A;
      border: 1px solid #FFB94A;
    }
    .btn--disconnect {
      color: #666666;
      border: 1px solid #CCCCCC;
    }
  }
}

//Dark
.main[data-theme="dark"] {
  .addItem {
    p {
      color: #FFB94A;
    }
  }

  .card {
    background: #27292D;
    .card--content {
      .avatar {
        .status {
          border: 2px solid #27292D;
        }
      }
    }
  }

  .item--content {
    p {
      color: #FFB94A;
    }
  }

  .item {
    .name {
      color: white;
    }

    .btn--connect {
      color: #FFB94A;
      border: 1px solid #FFB94A;
    }

    .btn--connect {
      color: #FFB94A;
      border: 1px solid #FFB94A;
    }

    .btn--disconnect {
      color: white;
      border: 1px solid #999999;
    }
  }
}