.popup--change-pass {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1500;
  background: #ffffff;
  padding: 0 16px;
  .text--error {
    color: #f44542;
  }
  .popup--header {
    height: 60px;
    .popup--header-back {
      cursor: pointer;
    }
    .popup--header-title {
      font-size: 18px;
      font-weight: 700;
      color: #666666;
    }
  }

  .popup--change-content {
    .change--pass-image {
      margin-bottom: 30px;
    }
    .form_group {
      input {
        height: 48px;
        border-radius: 10px;
        padding-left: 45px;
        &:focus {
          outline: 0;
          box-shadow: none;
        }
      }
      .icon--before {
        top: 42px;
        left: 15px;
      }
      .icon--after {
        top: 42px;
        right: 20px;
      }
    }
  }
}
//change color theme
// Theme Light
.popup--change-pass[data-theme="light"] {
  background: #ffffff !important;
  color: #CCCCCC !important;
  .popup--header-title {
    color: #666666 !important;
  }
  input {
    background: #ffffff !important;
    border-color: #E4E4E4 !important;
    color: #CCCCCC !important;
  }
}
// Theme Dark
.popup--change-pass[data-theme="dark"] {
  background: #2F3136 !important;
  color: #CCCCCC !important;
  .popup--header-title {
    color: #CCCCCC !important;
  }
  input {
    background: #2F3136 !important;
    border-color: #666666 !important;
    color: #ffffff !important;
  }
}
