.message {
    top: 0;
    left: 0;
    z-index: +999;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    background-color: #27292d;
    .message--header {
        height: 56px;
        padding: 0 16px;
        .back--list {
            color: #999;
            cursor: pointer;
        }
        .message--number {
            color: #fff;
            width: 20px;
            height: 20px;
            font-size: 11px;
            line-height: 20px;
            border-radius: 50%;
            background-color: #ffb94a;
            margin: 0 10px 0 -3px;
        }
    }
    .user--profile {
        margin-left: 8px;
        margin-bottom: -1px;
        .user--profile-name {
            font-size: 14px;
            margin-bottom: -7.5px;
        }
        .user--profile-status {
            font-size: 11px;
        }
    }
    .message--info {
        height: 24px;
        color: #ffb94a;
    }
    /* Content */
    .message--content {
        padding: 10px 20px;
        height: calc(100vh - 106px);
    }
    .user--message {
        .item {
            padding: 8px 10px;
            width: auto;
            max-width: 75%;
            border-radius: 10px;
            margin-top: 4px;
            font-size: 14px;
            line-height: normal;
            &:first-child {
                margin-top: 0;
            }
        }
        .time--read {
            color: #999;
            font-size: 12px;
            margin: 16px 0 12px 0;
        }
    }
    .message--user-1 {
        margin-top: 18px;
        .avatar-chat {
            margin-right: 16px;
        }
    }
    .message--user-2 {
        margin-top: 18px;
        .user--message-2 {
            background-color: #ffb94a;
        }
        .avatar-chat {
            margin-left: 4px;
        }
    }
    /* Footer */
    .message--footer {
        padding: 6px 16px 4px 16px;
        max-height: 50px;
        .icon--right {
            margin-left: 16px;
            color: #ffb94a;
        }
    }
    .input--message {
        width: 100%;
        input {
            border: 0;
            border-radius: 10px;
            height: 40px;
            &:focus {
                box-shadow: none;
            }
        }
         ::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: #999;
        }
         ::-moz-placeholder {
            /* Firefox 19+ */
            color: #999;
        }
         :-ms-input-placeholder {
            /* IE 10+ */
            color: #999;
        }
         :-moz-placeholder {
            /* Firefox 18- */
            color: #999;
        }
    }
    .icons--left {
        height: 24px;
        color: #ffb94a;
        .icon {
            margin-right: 16px;
        }
    }
}


/*Transition popup*/

.popup-enter {
    transform: translateX(100%);
}

.popup-enter-to {
    transition: transform .75s;
    transform: translateX(0);
}

.popup-leave-to {
    transition: transform .75s;
    transform: translateX(100%);
}


/*Transition popup*/

.info-enter {
    transform: translateX(100%);
}

.info-enter-to {
    transition: transform .75s;
    transform: translateX(0);
}

.info-leave-to {
    transition: transform .75s;
    transform: translateX(100%);
}

//Change theme
//Light
.message[data-theme="light"] {
    background-color: #fff;
    color: #444;
    .message--header {
        // border-bottom: solid 1px #e4e4e4;
        .user--profile-status {
            color: #999;
        }
    }
    .input--message {
        input {
            background-color: #f7f7f7;
            color: #444;
        }
    }
    .message--user-1 {
        .user--message-1 {
            background-color: #f0efef;
        }
    }
}

//Dark
.message[data-theme="dark"] {
    color: #f7f7f7;
    background-color: #27292d;
    .message--header {
        // border-bottom: solid 1px #444444;
        .user--profile-status {
            color: #ccc;
        }
    }
    .input--message {
        input {
            background-color: #2f3136;
            color: #f7f7f7;
        }
    }
    .message--user-1 {
        .user--message-1 {
            background-color: #444444;
        }
    }
}