/* Custom calendar */

.setting {
    .picker-wrap {
        box-shadow: none !important;
        width: 283px !important;
        height: auto !important;
        border-radius: 10px;
    }
    .date-head {
        position: relative;
        height: 40px;
        background-color: #ffb94a !important;
        .btn-prev-year,
        .btn-next-year {
            display: none;
            pointer-events: none;
        }
        .btn-next-date,
        .btn-prev-date {
            width: 20px;
            height: 20px;
            background-color: #fff !important;
            padding: 0;
            color: #ffb94a;
            border-radius: 50%;
            text-align: center;
            line-height: 20px;
            top: 8px;
            &:hover {
                background-color: #fff !important;
            }
        }
        .btn-prev-date {
            position: absolute;
            left: 10px;
        }
        .btn-next-date {
            position: absolute;
            right: 10px;
        }
        .show-year {
            margin-right: 55px;
            position: relative;
            &:before {
                position: absolute;
                content: "";
                left: -7px;
            }
        }
        .show-month {
            margin-left: 70px;
            margin-right: -10px;
        }
        th:first-child {
            border-top-left-radius: 10px;
        }
        th:nth-child(2) {
            border-top-right-radius: 10px;
        }
    }
    .date-days {
        font-size: 12px !important;
        height: 40px;
        th {
            border: solid 1px rgba(0, 0, 0, 0.05) !important;
            font-weight: normal !important;
        }
    }
    td {
        height: 36px !important;
        border: solid 1px rgba(0, 0, 0, 0.05) !important;
        transition: all 0.5s ease;
        &:hover {
            color: #ffb94a !important;
        }
    }
    .date-active {
        background-color: #ffb94a !important;
        color: #fff !important;
        &:hover {
            color: #fff !important;
        }
    }
}


/* ChangeColor */

// Light
.setting[data-theme="light"] {
    .picker-wrap {
        color: #000 !important;
        background-color: #f2f2f2 !important;
        .date-days {
            color: #000 !important;
            background-color: #ebebeb !important;
        }
    }
    .date-days {
        th {
            border: solid 1px rgba(255, 255, 255, 0.3) !important;
        }
    }
    td {
        border: solid 1px rgba(255, 255, 255, 0.3) !important;
    }
}

//Dark
.setting[data-theme="dark"] {
    .picker-wrap {
        color: #f7f7f7 !important;
        background-color: #2f3136 !important;
        .date-days {
            color: #f7f7f7 !important;
            background-color: #414348 !important;
        }
    }
    .date-days {
        th {
            border: solid 1px rgba(0, 0, 0, 0.05) !important;
        }
    }
    td {
        border: solid 1px rgba(0, 0, 0, 0.05) !important;
    }
}

// Responsive
@media only screen and (max-width: 1366px) {
    .setting {
        .picker-wrap {
            width: 266px !important;
        }
    }
}

@media only screen and (max-width: 1280px) {
    .setting {
        .picker-wrap {
            width: 238px !important;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .setting {
        .picker-wrap {
            width: 283px !important;
        }
    }
}