.header--mobile {
    padding: 13px 16px;
    max-height: 56px;
    .header--mobile-top {
        top: 0;
        left: 0;
        z-index: +99;
        .header--mobile-img {
            margin-right: 16px;
            img {
                cursor: pointer;
            }
        }
        .header--mobile-title {
            font-size: 18px;
            font-weight: 600;
        }
    }
    .change--account,
    .new--message {
        margin-left: 16px;
        cursor: pointer;
    }
}

//Change Theme
//Light
.header--mobile[data-theme="light"] {
    .header--mobile-title {
        color: #666666
    }
}

//Dark
.header--mobile[data-theme="dark"] {
    .header--mobile-title {
        color: #CCCCCC
    }
}