.chatarea {
    padding: 20px;
    padding-top: 6px;
    .receive {
        margin-top: 8px;
        .user--send {
            margin-right: 12px;
            margin-bottom: 5px;
            img {
                border-radius: 50%;
                cursor: pointer;
            }
        }
    }
    .send {
        margin-top: 8px;
        .user--seen {
            margin-left: 5px;
            margin-bottom: 5px;
        }
        img {
            border-radius: 50%;
        }
    }
}

.message {
    width: calc(100% - 42px);
    display: flex;
    flex-direction: column;
    .message--item {
        margin: 5px 0;
        border-radius: 10px;
        max-width: 70%;
        padding: 5px 10px;
        font-size: 14px;
        line-height: normal;
    }
    &.message--receive {
        align-items: flex-start;
    }
    &.message--send {
        align-items: flex-end;
        .message--item {
            background-color: #ffb94a;
            color: #fff;
        }
    }
    .gallery {
        //margin: 5px 0;
        //display: grid;
        //grid-template-columns: repeat(3, 1fr);
        //grid-gap: 5px;
        //max-width: 80%;
        img {
            width: 100%;
            max-width: 100%;
            border-radius: 8px;
        }
    }
    .sender {
        img {
            border-bottom-left-radius: 1.5rem;
            border-top-left-radius: 1.5rem;
            cursor: pointer;
        }
    }
    .receive {
        img {
            border-bottom-right-radius: 1.5rem;
            border-top-right-radius: 1.5rem;
            cursor: pointer;
        }
    }
}


/* ChangeColor */

// Light
.chatarea[data-theme="light"] {
    .message--receive {
        .message--item {
            background-color: #f0efef;
            color: #444444;
        }
    }
}

//Dark
.chatarea[data-theme="dark"] {
    .message--receive {
        .message--item {
            background-color: #444444;
            color: #f7f7f7;
        }
    }
}


/* Responsive */

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .message {
        .message--item {
            max-width: 60%;
        }
        .gallery {
            max-width: 70%;
        }
    }
}