.scripts {
    font-size: 14px;

    /********Script Header*******/
    .script--header {
        left: 0;
        top: 0;
        right: 0;
        padding: 15px;
        position: fixed;
        z-index: 99;

        &-title {
            font-size: 18px;
            margin-bottom: 0;
            line-height: 1;
        }

        &-back {

            svg {
                margin-bottom: -5px;
            }
        }

        &-create {
            font-size: 14px
        }

        &-copy-link {
            margin-left: 30px;

            >*+* {
                margin-left: 15px;
            }
        }
    }

    /**********Script Body*******/
    .script--body {
        padding: 12px 12px 12px;
        height: calc(100vh - 54px - 74px);
        overflow: auto;


        >div {
            position: relative;

        }

        &-name {

            &-edit {
                border-radius: 10px;
                min-height: 50px;
                text-align: left;
                padding: 8px 16px;
                flex: 0 0 calc(100% - 35px);
                word-wrap: break-word;
            }

            &-copy {
                flex: 0 0 35px;
            }
        }

        /**     Script Body Text Edit     **/
        .script--body-text {
            margin: 0 0 25px;

            .script--body-text-edit {
                width: 280px;
                border-radius: 10px;
                min-height: 50px;
                text-align: left;
                padding: 8px 10px;
            }
        }

        /**      Script Body Upload Image    **/
        .script--body-image {
            height: 207px;
            margin-bottom: 25px;
            max-width: 280px;
            position: relative;
            width: 280px;

            .scrip--body-image-link {
                position: absolute;
                border-radius: 10px;
                overflow: hidden;
                z-index: 2;
            }

            .script--body-upload-image {
                background: #2F3136;
                border-radius: 10px;
                height: 100%;
                position: absolute;
                width: 100%;
                z-index: 1;

                input#upload_image {
                    cursor: pointer;
                    height: 100%;
                    left: 0;
                    opacity: 0;
                    top: 0;
                    position: absolute;
                    width: 100%;
                    z-index: 2;
                }

                .script--body-image-icon {
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height: 100%;
                    cursor: pointer;
                    width: 100%;
                }
            }

        }


        /**    Script Body Timer      **/
        .script--body-timer {
            border-radius: 10px;
            margin-bottom: 25px;
            max-width: 245px;
            padding: 10px;
            position: relative;

            .scripts--body-timer-edit {
                display: flex;
                align-items: center;

                >*+* {
                    margin-left: 10px;
                }
            }

            .script--body-timer-icon {
                align-items: center;
                border-radius: 50%;
                display: inline-flex;
                justify-content: center;
                height: 30px;
                width: 30px;
            }

            input[type="number"] {
                border: 0;
                border-radius: 10px;
                height: 40px;
                text-align: center;
                text-indent: 0;
                width: 70px;

                &:hover,
                &:focus {
                    outline: none;
                }
            }

            select#choose_timer {
                border: 0;
                border-radius: 10px;
                height: 40px;
                text-align: center;
                text-indent: 20px;
                padding: 5px;
                width: 100px;

                &:hover,
                &:focus {
                    outline: none;
                }
            }
        }

        /***********Script Tag**********/
        .script--body-tag {
            text-align: left;
            padding: 15px;
            border-radius: 10px;
            max-width: 590px;

            .script--body-tag-icon {
                align-items: center;
                border-radius: 50%;
                display: inline-flex;
                justify-content: center;
                height: 30px;
                width: 30px;
                margin-right: 10px;
            }

            &-title {
                display: flex;
                align-items: center;
            }

            &-title {
                font-size: 14px;
                margin-bottom: 15px;
            }

            &-description {
                font-size: 13px;
                margin-bottom: 15px;
            }

            &-edit-title {
                text-transform: uppercase;
                margin-bottom: 10px;

                span {
                    width: 50%;
                    flex: 0 0 50%;
                }
            }

            &-item {
                margin: 0 -5px;
                position: relative;

                >div {
                    align-items: center;
                    border: 0;
                    border-radius: 10px;
                    display: flex;
                    height: 40px;
                    margin: 0 5px;
                    padding: 0 10px;
                    width: calc(50% - 30px);

                    >div[name="text"],
                    >div[name="value"] {
                        color: #F96666;
                        font-size: 14px;
                    }
                }

                span {
                    align-items: center;
                    border-radius: 5px;
                    display: inline-flex;
                    justify-content: center;
                    margin-left: 10px;
                    height: 20px;
                    width: 20px;

                }
            }

            &-footer {
                margin-top: 20px;
            }

            &-add {
                border-radius: 10px;
                cursor: pointer;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                margin: 15px 0 0;
                padding: 8px 16px;

                span+span {
                    margin-left: 10px;
                }
            }
        }
    }

    /********Script Footer******/
    .script--footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 99;

        .script--footer-addelm {
            text-align: left;
            padding: 12px 0 13px;
        }

        .gr-addelm {
            .addelm-item {
                border-radius: 10px;
                font-size: 12px;
                flex: 0 0 25%;

                span {
                    display: block;
                }

                svg {
                    margin-bottom: 5px;
                }
            }

            @media (min-width: 992px) and (max-width: 1200px) {
                flex-wrap: wrap;

                .addelm-item {
                    width: calc(50% - 10px);
                }
            }
        }
    }

    /*-----Scripts Popup------*/
    &.scripts--popup {
        bottom: 0;
        left: 0;
        padding-top: 54px;
        padding-bottom: 70px;
        top: 0;
        right: 0;
        position: fixed;
        width: 100%;
        z-index: 100;
    }
}

/********Theme Light*********/
div[data-theme="light"].scripts {
    background: #fff;
    color: #666666;

    /********Script Header*******/
    .script--header {
        .script--header-title {
            color: #444;
        }

    }

    /*********Script Body*******/
    .script--body {

        svg {
            fill: #ccc;
            color: #ccc;
        }

        /*****Script Body Text Edit, Script Body Name Edit*****/
        .script--body-text,
        .script--body-name {
            &-edit {
                background: #f7f7f7;
                border: 1px solid #f7f7f7;
                color: #444;

                >div {
                    line-height: 32px;
                    &:focus,
                    &:hover {
                        outline: none;
                    }
                }
            }
        }

        .script--body-text {
            &-edit {
                border: 10px solid #f7f7f7;
                background: #ffff;
            }
        }

        /*****Script Body Upload Image*****/
        .script--body-image {
            .script--body-upload-image {
                background: #f7f7f7;
            }

            &:hover {
                .scrip--body-image-link+.script--body-upload-image {
                    color: #f7f7f7;
                    background: rgba(0, 0, 0, 0.60);
                    z-index: 2;
                }

                svg {
                    fill: #f7f7f7;
                    color: #f7f7f7;
                }
            }
        }

        /*****Script Body Timer*****/
        .script--body-timer {
            background: #f7f7f7;

            .script--body-timer-icon {
                background-color: #fff;
            }

            input[type="number"] {
                background-color: #fff;
                color: #444;
            }

            select#choose_timer {
                background-color: #fff;
                color: #444;
            }
        }

        /***********Script Tag**********/
        .script--body-tag {
            color: #444;
            background: #f7f7f7;

            &-icon {
                background: #fff;

                svg {
                    fill: #999999;
                    color: #999999;
                }
            }

            &-item {
                >div {
                    background: #fff;
                }

                span {
                    background: #CCCCCC;

                    svg {
                        color: #999999;
                    }
                }
            }

            &-footer {
                border-top: 1px solid #E4E4E4;
            }

            &-add {
                border: 1px solid #ccc;
                color: #444;

                &:hover {
                    background: #FFB94A;
                    color: #fff;
                }

                svg {
                    color: #444;
                }
            }
        }
    }

    /********Script Footer******/
    .script--footer {
        border-top: 1px solid #F7F7F7;

        .script--footer-addelm {
            color: #999999;

        }
    }
}

/********Theme Dark*********/
div[data-theme="dark"] .scripts {
    background-color: #2F3136;
    color: #666666;

    /********Script Header*******/
    .script--header {
        background-color: #2F3136;

        &-title {
            color: #fff;
        }

        &-create {
            color: #CCCCCC;
        }
    }

    /*********Script Body*******/
    .script--body {
        svg {
            fill: #ccc;
            color: #ccc;
        }

        /*****Script Body Text Edit, Script Body Name*****/
        .script--body-text,
        .script--body-name {
            &-edit {
                background: #27292D;
                border: 5px solid #27292D;
                color: #fff;

                >div {

                    &:focus,
                    &:hover {
                        outline: none;
                    }
                }
            }
        }

        .script--body-text {
            &-edit {
                border: 10px solid #27292D;
                background: #2F3136;
            }
        }

        /*****Script Body Upload Image*****/
        .script--body-image {
            .script--body-upload-image {
                background: #27292D;
            }

            &:hover {
                .scrip--body-image-link+.script--body-upload-image {
                    color: #fff;
                    background: rgba(153, 153, 153, 0.60);
                    z-index: 2;
                }

                svg {
                    fill: #fff;
                    color: #fff;
                }
            }
        }

        /*****Script Body Timer*****/
        .script--body-timer {
            background: #27292D;

            .script--body-timer-icon {
                background-color: #2F3136;
            }

            input[type="number"] {
                background-color: #2F3136;
                color: #fff;
            }

            select#choose_timer {
                background-color: #2F3136;
                color: #fff;
            }
        }

        /***********Script Tag**********/
        .script--body-tag {
            color: #fff;
            background: #27292D;

            &-icon {
                background: #2F3136;

                svg {
                    fill: #999999;
                    color: #999999;
                }
            }

            &-item {
                >div {
                    background: #2F3136;
                    color: #fff;
                }

                span {
                    background: #444444;

                    svg {
                        color: #CCCCCC;
                    }
                }
            }

            &-footer {
                border-top: 1px solid #444;
            }

            &-add {
                border: 1px solid #999;
                color: #fff;

                &:hover {
                    background: #FFB94A;
                    border: 1px solid #FFB94A;
                    color: #fff;

                    svg {
                        color: #fff;
                    }
                }

                svg {
                    color: #CCCCCC;
                }
            }
        }
    }

    /********Script Footer******/
    .script--footer {
        border-top: 1px solid #444444;

        .script--footer-addelm {
            background-color: #2f3136;
            color: #F7F7F7;
        }
    }
}