.type-scripts--group {
  padding: 20px 32px;
  width: 100%;

  .type-script--name {
    margin-bottom: 10px;
  }

  .type-script--item {
    margin-bottom: 15px;

    &.type-script--close {
      .script--item-add {
        display: none;
      }
    }
  }

  .type-script--item + .type-script--item .type-script--name {
    margin-top: 12px;
  }

  .type-script--name,
  .type-script--add {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 5px;
    text-transform: uppercase;
    text-align: left;

    .type-script--icon {
      margin-right: 5px;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;

      &.hidden {
        transform: rotate(-90deg);
      }
    }
  }

  .type-script--add {
    margin-top: 12px;

    svg {
      margin-bottom: 4px;
    }
  }

  .scripts--group {
    .script--item {
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      padding: 0;

      span {
        border-radius: 10px;
        display: block;
        font-size: 14px;
        margin: 5px;
        padding: 10px;
        -webkit-transition: background-color 0.5s;
        -moz-transition: background-color 0.5s;
        -ms-transition: background-color 0.5s;
        -o-transition: background-color 0.5s;
        transition: background-color 0.5s;
      }
    }
  }
}


/*Color, Background*/
div[data-theme="light"] {
  .type-scripts--group {
    background-color: #fff;
  }

  .type-script--item-script {
    .type-script--name,
    .type-script--add {
      color: #666666;
    }
  }

  .script--item {
    &:hover,
    &:active,
    &.active {
      span {
        background-color: #ffb94a;
        color: #fff;
      }
    }

    span {
      background: #f7f7f7;
    }
  }
}

div[data-theme="dark"] {
  .type-scripts--group {
    background-color: #27292d;
  }

  .type-script--item-script {
    .type-script--name,
    .type-script--add {
      color: #666666;
    }
  }

  .script--item {
    &:hover,
    &:active,
    &.active {
      span {
        background-color: #ffb94a;
        color: #fff;
      }
    }

    span {
      background: #2f3136;
    }
  }
}