.main {
  color: black;
  font-size: 14px;

}
.padding--option {
  padding: 0 16px;
}
//main-top
.main--top {
  border-radius: 5px;
  background-color: white;
  .exp--account {
    color: orange;
  }
  .renewed--account button {
    background-color: orange;
    border-radius: 10px;
    color: #ffffff;
    height: 40px;
    width: 80px;
    border: none;
  }
}
//main--content
.main--content {
  .icon--envelope {
    top: 0;
    left: 0;
  }
  .icon {
    top: 5px;
    left: 5px;
  }
  .form_group {
    input {
      height: 40px;
      border-radius: 10px;
      padding-left: 40px;
    }
  }
  .r {
    .c_md_8 .left--content {
      border-radius: 5px;
      background-color: white;
      min-height: 100%;
    }
    .c_md_4 .right--content {
      border-radius: 5px;
      background-color: white;
    }
  }
}
.main--av {
  width: auto;
  height: 270px;
  background-image: url("https://i.ytimg.com/vi/SfLV8hD7zX4/maxresdefault.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
.main--av-img {
  background-image: url("https://i.ytimg.com/vi/SfLV8hD7zX4/maxresdefault.jpg");
  width: 50%;
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate(-50%, -50%);
  z-index: 2;
}
//main--option
.main--option {
  border-radius: 5px;
  background-color: white;
  padding-top: 16px;
  padding-bottom: 50px;
  input[type="text"] {
    width: 70px;
  }
}
.theme--title {
  padding-bottom: 20px;
}
.option--theme-img {
  margin-left : 0px;
  margin-right: 0px;
}
.theme--setting {
  text-align: left;
  img {
    width: 165px;
    height: 120px;
  }
}
.check--option-hours {
  input {
    width: 72px;
    height: 40px;
    border: 1px solid #E4E4E4;
    border-radius: 10px;
    text-align: center;
    margin: 0 14px;
    &:focus, &:hover,&:active,&:visited {
      outline: 0;
      box-shadow: none;
      border-color: #E4E4E4;
    }
  }
}
.option--sytem {
  padding-bottom: 50px;
}
.divide--title {
  font-size: 18px;
  font-weight: 600;
  width: 100%;
}
/* Rounded sliders */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: orange;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .main--av {
    width: 200px !important;
    height: 200px !important;
  }
  .main--av-img {

  }
  .option--theme-img {
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
  }
  .option--sytem {
    .option--sytem-item {
      width: 100% !important;
    }
  }
}