.popup--content {
  background-color: #ffffff;
  height: 100vh;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1100;
  color: #444444;
  padding: 0 16px;
  overflow-y: scroll;
  overflow-x: hidden;
  .popup--header {
    height: 60px;
    .popup--header-back {
      cursor: pointer;
    }
    .popup--header-title {
      font-size: 18px;
      font-weight: 700;
      color: #666666;
    }
  }
  .popup--body {

  }
  .user--info {
    .user--info-image {
      width: 220px;
      height: 220px;
      background-image: url("../../../../assets/bg-acc-mobile.svg");
      background-position: center;
      background-size: cover;
      padding: 30px;
      .user--info-avatar {
        width: 160px;
        height: 160px;
        border-radius: 50%;
        background-image: url("https://i.ytimg.com/vi/SfLV8hD7zX4/maxresdefault.jpg");
        background-position: center;
        background-size: cover;
      }
    }
    .user--info-title {
      font-size: 16px;
      font-weight: 700;
      color: #000000;
    }
  }
  .user--form {
    padding-bottom: 50px;
    .divide--title {
      font-size: 16px;
      font-weight: 700;
      color: #000000;
    }
    input {
      height: 48px;
      border-radius: 10px;
      padding-left: 45px;
      &#passwordField {
        border: 0;
        background: transparent;
        padding-left: 0;
      }
      &:focus {
        outline: 0;
        box-shadow: none;
      }
    }
    .icon {
      top: 42px;
      left: 15px;
    }
    .change--pass {
      top: 52%;
      right: 8%;
      cursor: pointer;
      &:hover,&:focus {
        text-decoration: underline;
      }
    }
    .group--radio {
      $transition-duration: 0.4s;
      position: relative;
      .radio {
        position: absolute;
        opacity: 0;
        z-index: 0;
        + label {
          position: relative;
          display: inline-flex;
          width: 40px;
          height: 20px;
          border-radius: 20px;
          border: solid 1px;
          cursor: pointer;
          transition: all $transition-duration;
          &::after {
            font-weight: 400;
            content: "";
            display: block;
            width: 10px;
            height: 10px;
            border: solid 1px;
            border-radius: 50%;
            position: absolute;
            left: 6px;
            top: 4px;
            transition: all $transition-duration;
          }
        }
        &:checked {
          + label {
            border-color: #ffb94a !important;
            background-color: #ffb94a;
            &::after {
              content: "";
              border-color: #fff !important;
              left: calc(100% - 16px);
              background-color: #ffffff;
              transform: rotate(360deg);
            }
          }
        }
      }
    }
    .theme--name {
      padding-right: 15px;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 5px;
        right: 0;
        width: 11px;
        height: 11px;
        border-right: 1px solid #444444;
        border-bottom: 1px solid #444444;
        transform: rotate(-45deg);
      }
    }
  }
}
/*Transition popup*/
.changeTheme-enter {
  transform: translateX(100%);
}
.changeTheme-enter-to {
  transition: transform .75s;
  transform: translateX(0);
}
.changeTheme-leave-to {
  transition: transform .75s;
  transform: translateX(100%);
}
